<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SadipDAL.Properties.Settings.SadipConnectionString"
            connectionString="Data Source=10.254.1.196;Initial Catalog=Sadip;Persist Security Info=True;User ID=sa;Password=Sadip.01"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>